* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  /* overflow-y: hidden; */
}

body {
  min-height: 100vh;
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  min-height: 100vh;
  width: 1421px;
  margin: 0 auto;
}

.sidebar {
  display: flex;
  background-color: black;
  min-width: 284px;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #121212;
  padding: 40px 20px;
  flex-grow: 2;
}

.header-buttons {
  display: flex;
  gap: 10px;
  max-width: 1097px;
}

.header-button {
  border-radius: 20px;
  align-items: center;
  padding: 11px 20px;
}

.light-button {
  background-color: #ffffff;
  width: 58px;
}

.dark-button {
  background-color: #ffffff14;
  width: 86px;
}

.button-light-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.button-dark-text {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.playlists-cards {
  display: grid;
  grid-template-columns: repeat(4, 266px);
  grid-template-rows: repeat(2, 50px);
  gap: 10px;
}

.small-card {
  display: flex;
  gap: 0;
  max-height: 50px;
  width: 100%;
}

.small-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff14;
  max-height: 50px;
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.small-card-image {
  width: 50px;
  height: 50px;
}

.title-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: white;
}
.big-cards-header {
  margin-bottom: 10px;
}

.big-cards {
  display: flex;
  gap: 30px;
}

.big-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.big-card-image {
  width: 157px;
  height: 157px;
}

.big-card-title-text {
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.big-card-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 20.4px;
  color: #b3b3b3;
  width: 157px;
}

.cover-title {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ffffff;
}

.sidebar-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: white;
}
